.board {
  display: grid;
  grid-template-columns: repeat(8, minmax(10rem, 1fr));
  grid-template-rows: repeat(8, minmax(10rem, 1fr));
  border-radius: var(--radius);
  max-width: 80rem;
  max-height: 80rem;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &--stone {
    .tile {
      &--black {
        background-color: var(--clr-board-stone-d);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-stone-l);
        }
      }
      &--white {
        background-color: var(--clr-board-stone-l);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-stone-d);
        }
      }
    }
  }

  &--classic {
    .tile {
      &--black {
        background-color: var(--clr-board-classic-d);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-classic-l);
        }
      }
      &--white {
        background-color: var(--clr-board-classic-l);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-classic-d);
        }
      }
    }
  }

  &--grey {
    .tile {
      &--black {
        background-color: var(--clr-board-grey-d);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-grey-l);
        }
      }
      &--white {
        background-color: var(--clr-board-grey-l);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-grey-d);
        }
      }
    }
  }

  &--walnut {
    .tile {
      &--black {
        background-color: var(--clr-board-walnut-d);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-walnut-l);
        }
      }
      &--white {
        background-color: var(--clr-board-walnut-l);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-walnut-d);
        }
      }
    }
  }

  &--metal {
    .tile {
      &--black {
        background-color: var(--clr-board-metal-d);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-metal-l);
        }
      }
      &--white {
        background-color: var(--clr-board-metal-l);

        .tile-number,
        .tile-letter {
          color: var(--clr-board-metal-d);
        }
      }
    }
  }
}
