.piece {
  z-index: 1;
  display: flex;

  &[data-color="b"] {
    .w {
      fill: var(--clr-white-100);
      stroke: var(--clr-white-100);
      stop-color: var(--clr-white-100);
    }

    .stroke {
      stroke: var(--clr-black-900);
    }

    .b {
      fill: var(--clr-black-900);
      stroke: var(--clr-black-900);
      stop-color: var(--clr-black-900);
    }
  }

  &[data-color="w"] {
    .w {
      fill: var(--clr-black-900);
      stroke: var(--clr-black-900);
      stop-color: var(--clr-black-900);
    }

    .stroke {
      stroke: var(--clr-white-100);
    }

    .b {
      fill: var(--clr-white-100);
      stroke: var(--clr-white-100);
      stop-color: var(--clr-white-100);
    }
  }
}
