.player {
  display: flex;
  gap: 0.5rem;

  &__img {
    display: flex;
    border-radius: var(--radius);
    max-width: 4rem;
    background-color: var(--clr-white-100);

    &--b {
      background-color: var(--clr-black-800);
    }
  }

  &__info {
    &-name {
      color: var(--clr-white-100);
    }
  }
}
