:root {
  --clr-board-classic-d: #b58863;
  --clr-board-classic-l: #f0d9b5;

  --clr-board-grey-d: #8f8f8f;
  --clr-board-grey-l: #d9d9d9;

  --clr-board-stone-d: #444444;
  --clr-board-stone-l: #4e4e4e;

  --clr-board-walnut-d: #7b3812;
  --clr-board-walnut-l: #ffe8de;

  --clr-board-metal-d: #b7c0d8;
  --clr-board-metal-l: #e8edf9;
}
