@import "./settings/index.scss";
@import "./mixins/index.scss";

:root {
  --content-width: 117rem;
  --container-offset: 1.5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --transition: 0.3s;

  --clr-black: #000000;
  --clr-white: #ffffff;

  --clr-board-classic-b: #b58863;
  --clr-board-classic-w: #f0d9b5;

  --clr-board-grey-d: #8f8f8f;
  --clr-board-grey-l: #d9d9d9;

  --clr-board-stone-d: #444444;
  --clr-board-stone-l: #4e4e4e;

  --clr-board-walnut-d: #7b3812;
  --clr-board-walnut-l: #ffe8de;

  --clr-board-metal-d: #b7c0d8;
  --clr-board-metal-l: #e8edf9;
}

body {
  @include font-source(Nunito, 1.6rem, var(--clr-black), 400, false);
  background-color: var(--clr-bg);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 32rem;
  min-height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-offset);
  padding-left: var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

@import "./components/pages/home.scss";
@import "./components/common/modal.scss";
