.game {
  &-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  &-icon {
    display: flex;
    width: 100%;
    max-width: 2.2rem;
    max-height: 2.2rem;
  }

  &-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 2.2rem;
    gap: 1rem;
  }
}

.home {
  display: flex;
  justify-content: center;
  gap: 1rem;

  // @include mq("tablet-wide") {
  //   flex-direction: column;
  //   align-items: center;
  // }
}
