.piece {
  z-index: 1;
  display: flex;

  &[data-color="b"] {
    .w {
      fill: var(--clr-white);
      stroke: var(--clr-white);
      stop-color: var(--clr-white);
    }

    .b {
      fill: var(--clr-black);
      stroke: var(--clr-black);
      stop-color: var(--clr-black);
    }
  }

  &[data-color="w"] {
    .w {
      fill: var(--clr-black);
      stroke: var(--clr-black);
      stop-color: var(--clr-black);
    }

    .b {
      fill: var(--clr-white);
      stroke: var(--clr-white);
      stop-color: var(--clr-white);
    }
  }
}
