$breakpoints: (
  "phone": 37.5rem,
  "phone-wide": 48rem,
  "phablet": 57.6rem,
  "tablet-small": 64rem,
  "tablet": 76.8rem,
  "tablet-wide": 99.2rem,
  "desktop": 120rem,
  "desktop-wide": 144rem
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 0.1rem;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
