.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-white-100);
  gap: 0.5rem;

  &-icon {
    display: flex;
  }

  &-text {
    font-size: fluid(5rem, 3rem);
  }
}
