.tabs {
  @include push--auto;

  &__wrapper {
    @include flex-all-sb;
    position: relative;
  }

  /* Animation classes for react-transition-group */
  .fade-enter & {
    opacity: 0;
  }

  .fade-enter-active & {
    opacity: 1;
    transition: opacity var(--transition) ease-in;
  }

  .fade-exit & {
    opacity: 1;
  }

  .fade-exit-active & {
    opacity: 0;
    transition: opacity var(--transition) ease-in;
  }
}

.tab {
  @include font-source(
    false,
    var(--medium-size),
    var(--clr-black-800),
    var(--normal-weight),
    var(--medium-line-height)
  );
  border: var(--border-width) solid transparent;
  padding: 1rem 2rem;
  background: none;
  transition: var(--transition);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--clr-white-100);
    transition: width var(--transition);
  }

  &.active {
    font-weight: var(--semibold-weight);
  }

  &-content {
    margin-top: 2rem;
    @include font-source(
      false,
      var(--medium-size),
      var(--clr-black-900),
      var(--normal-weight),
      var(--medium-line-height)
    );
  }
}
