@import "./settings/index.scss";
@import "./mixins/index.scss";
@import "./helper.scss";

$containerWidth: 120rem;

body {
  @include font-source(false, 1.6rem, var(--clr-black-900), var(--font-weight), false);
  background-color: #302e2b;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 37.5rem;
  min-height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-offset);
  padding-left: var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

@import "./libs/index.scss";
@import "./components/form/index.scss";
@import "./components/pages/index.scss";
@import "./components/board/index.scss";
@import "./components/ui/index.scss";
@import "./components/section/index.scss";
@import "./components/common/index.scss";
