@import "./settings/index.scss";
@import "./mixins/index.scss";

$containerWidth: 120rem;

:root {
  --content-width: 117rem;
  --container-offset: 1.5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --transition: 0.3s;
  --font-weight: 400;
  --radius: 0.5rem;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-bg: #111111;
}

body {
  @include font-source(false, 1.6rem, var(--clr-black), var(--font-weight), false);
  background-color: #302e2b;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 37.5rem;
  min-height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-offset);
  padding-left: var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

@import "./components/pages/home.scss";
@import "./components/board/index.scss";
@import "./components/ui/logo.scss";
@import "./components/section/header.scss";
@import "./components/common/modal.scss";
