.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  .chess {
    &-wrapper {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &-settings {
      display: flex;
      max-width: 1.6rem;
      max-height: 1.6rem;
    }
  }

  .piece[data-color="black"] {
    .white {
      fill: var(--clr-white);
      stroke: var(--clr-white);
      stop-color: var(--clr-white);
    }

    .black {
      fill: var(--clr-black);
      stroke: var(--clr-black);
      stop-color: var(--clr-black);
    }
  }

  .piece[data-color="white"] {
    .white {
      fill: var(--clr-black);
      stroke: var(--clr-black);
      stop-color: var(--clr-black);
    }

    .black {
      fill: var(--clr-white);
      stroke: var(--clr-white);
      stop-color: var(--clr-white);
    }
  }
}
