.home {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-block: 1.5rem;

  .chess {
    &-wrapper {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &-settings {
      display: flex;
      width: 100%;
      max-width: 1.6rem;
    }
  }
}
