.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  .chess {
    &-wrapper {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    &-settings {
      display: flex;
      max-width: 1.6rem;
      max-height: 1.6rem;
    }

    &-board {
      border: 0.1rem solid var(--clr-black);
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr);
      max-width: 80rem;
      max-height: 80rem;

      .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10rem;
        height: 10rem;

        &--black {
          background-color: var(--clr-board-classic-b);
        }

        &--white {
          background-color: var(--clr-board-classic-w);
        }
      }
    }
  }

  .piece[data-color="black"] {
    .white {
      fill: var(--clr-white);
      stroke: var(--clr-white);
      stop-color: var(--clr-white);
    }

    .black {
      fill: var(--clr-black);
      stroke: var(--clr-black);
      stop-color: var(--clr-black);
    }
  }

  .piece[data-color="white"] {
    .white {
      fill: var(--clr-black);
      stroke: var(--clr-black);
      stop-color: var(--clr-black);
    }

    .black {
      fill: var(--clr-white);
      stroke: var(--clr-white);
      stop-color: var(--clr-white);
    }
  }
}
