:root {
  --the-smallest-size: 1.6rem;
  --small-size: 2rem;
  --medium-size: 2.4rem;
  --large-size: 2.8rem;
  --the-largest-size: 3.2rem;

  --normal-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;

  --small-line-height: 115%;
  --medium-line-height: 140%;
}
